@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  /* Colors */
  --balck-color: #1B2223;
  --gray-color: #3A4F50;
  --light-green-color: #0EF6CC;
  --white-color: #F4FEFD;
  --font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--balck-color);
  color: var(--white-color);
  font-family: var(--font-family);
}

p {
  margin-bottom: 0;
}